* {
  margin:0;
  padding:0;
}
#html
{
    font-family: 'Times New Roman', Times, serif;
}
/* Barre de Navigation */
#navbar {
  font-family: 'Raleway', sans-serif;
}
#container {
  position:relative;
  background-color:black;
  box-shadow: -2px -2px 5px white,2px -2px 5px white;
}
#nav {
  width:100%;
  display:flex;
  max-height:60px;
}
#logo {
  line-height:60px;
  font-size:30px;
  padding: 0 50px;
  color: rgb(212, 211, 211);
  width:40%;
  letter-spacing:2px;
  text-shadow:4px 2px 5px;
}
.list {
  margin:0;
  padding:0;
  list-style-type:none;
  display:flex;
  position:absolute;
    right:50px;
}
.dropdown {
  line-height:60px;
  margin: 0 0px;
  padding:0;
  text-align:center;
  display:inline-block;
  transition: transform .25s;
} 
.txt {
  position:relative;
  margin: 0 20px;
    color:white;
}
.dropdown:hover {
  border-bottom: 2px solid white;
  background-color: #5e0a42;
  transform: scale(1.05);
  border-bottom:none;
}
#container > nav > ul > .dropdown:hover >  .dd
{
  display:block;
}
.dd {
  position:absolute;
  padding: 0 10px;
  background-color:black;
  display:none;
  background-color:rgb(224, 214, 220);
  min-width:100px;
}

.sub {
  margin:0px 0 10px 0;
  padding:0;
  list-style:none;
}
.sublink:hover {
  background-color:rgba(0, 0, 0, 0.2);
}
#container > nav > ul > li > div > ul > li > a {
  padding : 5px;
    color:black;
}
/* Footer */
.footer{
  background-color: #2e0c24;
  position:fixed;
  bottom:0;
  width: 100%;
  z-index: 2;
}
.sources{
  position:absolute;
  bottom:0;
  right:0;
  margin: 0 20px;
    color:white;
}
/* Sidebar */
#sidebar_right{
  height: 100%;
  width: 10%;
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  background-color: rgb(219, 219, 219);
  overflow-x: hidden;
  padding-top: 20px;
}
#sidebar_left{
  height: 100%;
  width: 10%;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  background-color: rgb(219, 219, 219);
  overflow-x: hidden;
  padding-top: 20px;
}
/* Page 5.html (Convertisseur) */
#page5{
    margin: auto;
    width: 50%;
    padding: 10px;
    font-size:30px;
}
#imageEth{
    position:relative;
    left:70px;
    top:400px;
    transform: scale(1.5);
}
#imageEur{
    position:relative;
    right:215px;
    top:125px;
    transform: scale(1.2);
}
#imageBit{
    position:relative;
    right:65px;
    top:625px;
    transform: scale(1.2);
    z-index: -1;
}
#EuroSectionConverter{
    position:relative;
    left:255px
}
#Bit{
    position:relative;
    left:255px; 
    top:385px;
}
#Eth{
    position:relative; 
    left:255px; 
    top:50px;
}
.box{
  transform: scale(1.5);
  position: relative;
  left:50px;
  bottom:5px;
  background-color: #e9e6e6;
  box-shadow: -2px -2px 5px white,2px -2px 5px white;
}
/* index.html (home) */
.content{
  margin:5px ;
  padding: 5px;
  background-image: url(crypto.jpg);
  background-position: bottom;
  width: auto;
  height: 30%;
  font-size: 40px;
  padding: 0 50px;
  color: rgb(10, 9, 9);
  letter-spacing:2px;
  text-shadow:2px 2px 2px;
  text-align: center;
}
.content2{
  margin:35px ;
  padding:5px;
  border-style:solid;
  width: 40%;
  height: auto;
  color: rgb(10, 9, 9);
  text-align: justify;
  background-color: #d9f0ff;
  transition: transform 0.25s;
  font-size: 30px;
}
.content2:hover{
  transform:scale(1.07);
}
.txttitre{
  font-size: 40px;
}
.txtmain{
  letter-spacing:2px;
  padding: 15px;
}
.imgIn{
  margin:35px ;
  padding:5px;
  border-style:solid;
  width: 40%;
  height: auto;
  color: rgb(10, 9, 9);
  text-align: justify;
  background-color: #d9f0ff;
  transition: transform 0.25s;
  font-size: 30px;
  clear:both;
  position: absolute;
  right:5%;
  top:40%;
  overflow:hidden;
}
.imgIn{
  transform:scale(1.07);
}
#imggraph{
  width:100%;
}
.boutton{
  background-color: #666262;
  border: 1px solid rgba(54, 54, 54, 0.6);
  font-weight: 600;
  outline: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 60px;
  width: 130px;
  opacity: 1;
}
/* Page4.html (Euthereum) */
#ethereum
{
    position: relative;
    left: 300px;
    width: 200px;
    height: 300px;
    bottom: 0px;
}
#NFT
{
    position: relative;
    left: 10px;
    top: 15px;
    width: 400x;
    height: 300px;
}
#ethereum2
{
    position: relative;
    left: 50px;
    width: 500px;
    height: 300px;
}
#ethereum3
{
    position: relative;
    left: 0px;
    width: 150px;
    height: 300px;
}
#twitter
{
    position: relative;
    left: 100px;
    width: 150px;
    height: 150px;
    bottom: 100px;
}
#history
{
    font-size: 3ch;
    color: blue;
}
#future
{
    font-size: 3ch;
    color: blue;
}
#section_un
{
    font-size: 3ch;
    color: black;
}
#texte_ethereum
{
    font-size: 1ch;
}
#texte_futur
{
    font-size: 1.5ch;
}
#liens
{
    font-size: 3ch;
}
#Futur
{
    font-size: 7ch;
}
#Vitalik
{
    color: blue;
}
#header
{
    font-size: 7ch;
    color: blue;
}
#navigate
{
    width: 250px;
    position: relative;
    right: 0px;
    top: 5px;
}
#sommaire
{
    font-size: 2ch;
}
#section_deux
{
    font-size: 6ch;
    color: black;
}
#convert
{
    color: blue;
    font-size: 1.5ch;
    position: relative;
    left: 450px;
    bottom: 200px;
}
#logo_ethereum
{
  font-size:2ch;
}
#cours_action_ethereum
{
  font-size: 2ch;
}
#Photo_example
{
  font-size: 3ch;
}
#hist_ether
{
  font-size: 1ch;
}
/* page3.html (bitcoin) */
.content_bitcoin{
  background-image: url(bitcoin_title.jfif);
  background-position: center;
  width: auto;
  height: 30%;
  font-size: 40px;
  padding: 0 50px;
  color: rgb(61, 52, 102);
  letter-spacing:2px;
  text-shadow:2px 2px 2px;
  text-align: center;
}
#bitcoin{
  transform: scale(0.6);
  padding: none;
  margin: none;
}
.fix{
  max-width:auto;
}
.sommairebit{
  border-color: #2196F3;
  color: #000;
  background-color: #ddffff;
  border-left: 6px solid #443987;
  padding: 16px;
}
.element{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.paragraphe{
  padding-left: 20px;
}
.soustitre{
  position:relative;
  right:10px;
  font-size:30px
}
.ledger{
  width: 70%;
}
.fonctionblocs{
  width:55%
}
/* page1.html (legal) */
#imageIll
{
    max-width:100%;
    height:auto;
    z-index: -1;
}
#PaysIllp
{
    text-align: justify;
  z-index: -1;
}
#PaysIllh2
{
  text-align: center;
  z-index: -1;
}
#headerIll
{
  text-align: center;
  z-index: -1;
}
#FranceP
{
	text-align:justify;
  z-index: -1;
}
#Franceh2
{
  text-align: center;
  z-index: -1;
}
#SectionFrance
{
  z-index: -1;
  text-align:center;
}
#BodyIll
{
  z-index: -1;
  height:auto;
}